[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TDAstats"]
	path = TDAstats
	url = https://github.com/tdaverse/tdastats
[submodule "inphr"]
	path = inphr
	url = https://github.com/tdaverse/inphr
[submodule "phutil"]
	path = phutil
	url = https://github.com/tdaverse/phutil
[submodule "ripserr"]
	path = ripserr
	url = https://github.com/tdaverse/ripserr
[submodule "tdarec"]
	path = tdarec
	url = https://github.com/tdaverse/tdarec
[submodule "tdaunif"]
	path = tdaunif
	url = https://github.com/tdaverse/tdaunif
